body{
    font-family: sans-serif;
    color: #050000;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
button, .btn-color{
    color: white;
    background: purple;
    font-weight: 600
}

.btn-color:hover{
    background: rgb(138, 102, 138);
}

.container{
    width: 40%;
    margin: 30px auto;
    height: auto;
    padding: 0;
    border-radius: 4px;
    border: solid 1px gray;
    background:  rgb(221, 216, 216);
    box-shadow: 2px 2px 1px gray;
}

h2, p{
    margin-bottom: 10px;
}

p{ 
    margin-top: 0px;
}

header{
    width: 98%;
    padding: 0px;
    text-align: center;
    margin: 20px auto;
}

h3{
    margin: 0 0 10px 40px;   
    padding-top: 30px;
}

.search{
    padding-left: 0px;
    width: 50%;
}

.contents{
    width: 100%;
    height: auto;
    background: white; 
}

.list{
    width: 80%;
    margin: 0 auto;
}

.item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none;
    padding: 10px;
    margin: 12px 0 0 0;
    border-left: solid 3px rgb(172, 171, 171);
}

.item:hover{
    border-left: solid 3px purple;
}

.delete{
    border: none;
    padding: 2px 5px;
    border-radius: 2px;
}

/* footer */
.add{
    text-align: center;
    width: 70px;
    padding: 5px 15px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

footer{
    width: 100%;
    background: #ffffff; 
    text-align: center;
    padding-bottom: 20px;
}

.footer-div{
    display: inline-block;
    margin: 50px 0 20px 0;
}

form{
    display: flex;
}

.footer-input{
    border-radius: none;
}